<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rocketasdle</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/color/48/000000/rocket-league.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class='container'>
        <header>
            <div class='header-container'>
                <img src='https://www.pngitem.com/pimgs/b/118-1187693_rocket-league-car-png.png' alt='Rocketasdle Logo' class='logo'>
            </div>
        </header>