<%- include('./partials/header') %>
    <div id="subtitle">
        <span>Adivinhe os carros de Rocket League</span>
    </div>


    <a href="/">
        <div class="back-button">
            <img src="https://static.vecteezy.com/system/resources/previews/016/017/055/original/home-transparent-background-free-png.png" alt="back" class="back-button-image">
        </div>
    </a>

    <div class="guess-container">

        <div class="guess-search">
            <input type="text" placeholder="Nome do carro">

        </div>
        <div class="guess-button">
            <img src="https://cdn-icons-png.flaticon.com/128/9187/9187510.png" alt="guess" class="guess-button-image">
        </div>
    </div>

    <div class="car-container">
        <div class="car-image">
            <img src="https://th.bing.com/th/id/R.8d09a7b636a91c2bd8ab6324016f0270?rik=dnv9kQhY4R1%2b6g&pid=ImgRaw&r=0">
        </div>

        <div class="car-attributes">
            <div class="car-card green">
                <span class="car-label">Nome</span>
                <span class="car-value">Octane</span>
            </div>
            <div class="car-card red">
                <span class="car-label">Raridade</span>
                <span class="car-value">Comum</span>
            </div>
            <div class="car-card green">
                <span class="car-label">Hitbox</span>
                <span class="car-value">Octane</span>
            </div>
            <div class="car-card red">
                <span class="car-label">Ano</span>
                <span class="car-value">2015</span>
            </div>
        </div>
    </div>
    </body>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

    </html>