<%- include('./partials/header') %>
    <div id="subtitle">
        <span>Adivinhe a explosão de gol</span>
    </div>

    <a href="/">
        <div class="back-button">
            <img src="https://static.vecteezy.com/system/resources/previews/016/017/055/original/home-transparent-background-free-png.png" alt="back" class="back-button-image">
        </div>
    </a>

    <div class="goal-image">
        <img src="https://th.bing.com/th/id/OIP.Imku-nj00blENCrUhpjOVgHaHa?rs=1&pid=ImgDetMain" alt="guess">
    </div>

    <div class="guess-container">
        <div class="guess-search">
            <input type="text" placeholder="Nome da explosão de gol">

        </div>
        <div class="guess-button">
            <img src="https://cdn-icons-png.flaticon.com/128/9187/9187510.png" alt="guess" class="guess-button-image">
        </div>
    </div>
    </body>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

    </html>