<%- include('./partials/header') %>
    <div id="subtitle">
        <span>Seja bem vindo(a) ao Rocketasdle</span>
    </div>

    <div class="buttons-container">
        <div class="button-game">
            <a href="/classico">
                <img src='https://th.bing.com/th/id/OIP.yNtVYRsIcpvW56Xz2zoTtQHaBY?rs=1&pid=ImgDetMains' width='100%' class='button-img'>
                <div class="button-title">Clássico</div>
                <div class="button-description">Adivinhe o carro com um nome</div>
            </a>
        </div>
        <div class="button-game">
            <a href="">
                <img src='https://th.bing.com/th/id/OIP.yNtVYRsIcpvW56Xz2zoTtQHaBY?rs=1&pid=ImgDetMains' width='100%' class='button-img'>
                <div class="button-title">Motor</div>
                <div class="button-description">Adivinhe o carro pelo barulho <br> do motor</div>
            </a>
        </div>
        <div class="button-game">
            <a href="">
                <img src='https://th.bing.com/th/id/OIP.yNtVYRsIcpvW56Xz2zoTtQHaBY?rs=1&pid=ImgDetMains' width='100%' class='button-img'>
                <div class="button-title">Explosão de Gol</div>
                <div class="button-description">Adivinhe a explosão de gol</div>
            </a>
        </div>
    </div>
    </div>
    </body>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

    </html>